body{
    font-family: sans-serif;
}

.loginBox
{
    position: relative;
    margin-top: 20rem;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
    height:420px;
    padding:80px 40px;
    box-sizing: border-box;
    background-color: #3A464B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    
}



h2
{
    margin:0;
    padding:0 0 20px;
    color:#1E90FF;
    text-align:center;
} 



.para-1
{
    padding:0;
    margin:0;
    font-weight:500;
    color:#fff;
    
} 


.loginBox input
{
    width:100%;
    margin-bottom: 20px; 
}

.loginBox input[type="text"], .loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size: 16px;
    
    
}


.loginBox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    color:#fff;
    font-size:16px;
    background: rgb(255,38,126);
    cursor:pointer;
    border-radius:20px;
}


.loginBox input[type="submit"]:hover
{
    background: #efed40;
    color: #262626;
}
 
 
 

.loginBox a
{
    color: #fff;
    font-size:14px;
    font-weight:500;
} 


::placeholder
{
    color:rgba(255,255,255,0.5); 
}


.user
{
    width:100px;
    height:100px; 
    overflow:hidden;
    position:absolute;
    top:calc(-100px/2);
    left:calc(50% - 50px);
    border-radius:50%;
}