.main-pro{
   
    width: 100%;
    background-color:#3A464B;;
    height: 10rem;
}
.smile{
    margin: 1rem 30rem;
    height: 3rem;
    width: 3rem;
}
.hero-pro{
    text-align: center;
    color: aliceblue;
}
.editart{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
    margin-top: .7rem;
    margin-left: 1rem;
}
/* .editart2{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    color: #B85C5C;
    background-image: none;
    background-color: transparent;
    border-color: #B85C5C;
    margin-top: .7rem;
    margin-left: 1rem;
} */